[Unit]
Description=RAM Monitoring

[Service]
WorkingDirectory=/home/monitoring/scripts/monitoring/RAM
ExecStart=/home/monitoring/scripts/monitoring/RAM/cron.sh
User=monitoring
Group=monitoring
