[Unit]
Description=Docker Monitoring

[Service]
WorkingDirectory=/home/monitoring/scripts/monitoring/Docker
ExecStart=/home/monitoring/scripts/monitoring/Docker/cron.sh
User=monitoring
Group=monitoring
