[Unit]
Description=Docker Monitoring

[Service]
WorkingDirectory=/home/dockermonitoring/scripts/QuantifiedSelf/Docker
ExecStart=/home/dockermonitoring/scripts/QuantifiedSelf/Docker/cron.sh
